body{
    background-color: #f4f4f4;
    color: rgb(117, 101, 101);
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin:auto;
   overflow: hidden;/*Para q não haja barras de rolagem mesmo se algo sair do contêiner*/
}
#main-header{
    background-color:coral;
    color:white;
}
/*colocar cor */
#navbar{
    background-color:#333;
    color:#fff;
}

#navbar ul{
    padding:0;
    list-style: none;
}
#navbar li{
    display:inline;/*deixar em linha reta os links*/
}
/*Formatação geral dos links*/
#navbar a{
    color:#fff;
    text-decoration:none;
    font-size: 18px;
    padding-right:18px;
}
#showcase{ 
    background-image: url('./imageluz.jpg');
    min-height: 300px;/*o texto não some quando diminuo a tela */
    background-repeat:no-repeat;
    margin-bottom: 30px;
    text-align: center;
    background-size:cover;
}
#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
}
#main{
    float: left;
    width:70%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width:30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}
#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding:20px;
    margin-top:40px;
}
@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }
    #sidebar{
        width:100%;
        float:none;
    }
}
@media(min-width:870px){
    #showcase{
        min-height:400px;
    }
}
@media(min-width:1100px){
    #showcase{
        min-height:500px;
    }
}


